
<%- include('../partials/head.ejs') %>
  <%- include('../partials/header.ejs') %>

  <main>
    <h1 class="title"><%= locals.character && character.name ? character.name : 'Personajes' %></h1>

    <section class="characters-list">
      <div class="character-list__container">

      <% if (locals.characters) { %>
        <% characters.forEach(character => { %>
        
          <%- include('../partials/character-card.ejs', { character }) %>

        <% }) %>
      <% } %>
      
      </div>
    </section>
  </main>
</div>

<%- include('../partials/footer.ejs') %>
  